<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="ThuVien"
        android:supportsRtl="true"
        android:theme="@style/Theme.ThuVien">

        <activity
            android:name=".MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- LOGIN -->
        <activity android:name=".login.LoginActivity" />
        <activity android:name=".login.RecoverPasswordActivity" />

        <!-- TRANG CHỦ -->
        <activity android:name=".trangchu.TrangChuActivity" />

        <!-- SÁCH -->
        <activity android:name=".sach.SachActivity" />
        <activity android:name=".sach.AddSachActivity" />
        <activity android:name=".sach.UpdateSachActivity" />

        <!-- TÁC GIẢ -->
        <activity android:name=".tacgia.TacGiaActivity" />
        <activity android:name=".tacgia.AddTacGiaActivity" />
        <activity android:name=".tacgia.UpdateTacGiaActivity" />

        <!-- THỂ LOẠI -->
        <activity android:name=".theloai.TheLoaiActivity" />
        <activity android:name=".theloai.AddTheLoaiActivity" />
        <activity android:name=".theloai.UpdateTheLoaiActivity" />

        <!-- NHÀ XUẤT BẢN -->
        <activity android:name=".nhaxuatban.NXBActivity" />
        <activity android:name=".nhaxuatban.AddNXBActivity" />
        <activity android:name=".nhaxuatban.UpdateNXBActivity" />

        <!-- NGÔN NGỮ -->
        <activity android:name=".ngonngu.NgonNguActivity" />
        <activity android:name=".ngonngu.AddNgonNguActivity" />
        <activity android:name=".ngonngu.UpdateNgonNguActivity" />

        <!-- KỆ SÁCH -->
        <activity android:name=".kesach.KeSachActivity" />
        <activity android:name=".kesach.AddKeSachActivity" />
        <activity android:name=".kesach.UpdateKeSachActivity" />

        <!-- ĐỘC GIẢ -->
        <activity android:name=".docgia.DocGiaActivity" />
        <activity android:name=".docgia.AddDocGiaActivity" />
        <activity android:name=".docgia.UpdateDocGiaActivity" />

        <!-- NHÂN VIÊN -->
        <activity android:name=".nhanvien.NhanVienActivity" />
        <activity android:name=".nhanvien.AddNhanVienActivity" />
        <activity android:name=".nhanvien.UpdateNhanVienActivity" />

        <!-- MƯỢN TRẢ -->
        <activity android:name=".muontra.MuonTraActivity" />
        <activity android:name=".muontra.AddMuonTraActivity" />
        <activity android:name=".muontra.UpdateMuonTraActivity" />

        <!-- THẺ THƯ VIỆN -->
        <activity android:name=".thethuvien.TheThuVienActivity" />
        <activity android:name=".thethuvien.AddTheThuVienActivity" />
        <activity android:name=".thethuvien.UpdateTheThuVienActivity" />

        <!-- LỚP -->
        <activity android:name=".lop.LopActivity" />
        <activity android:name=".lop.AddLopActivity" />
        <activity android:name=".lop.UpdateLopActivity" />

        <!-- KHOA -->
        <activity android:name=".khoa.KhoaActivity" />
        <activity android:name=".khoa.AddKhoaActivity" />
        <activity android:name=".khoa.UpdateKhoaActivity" />

        <!-- THỐNG KÊ -->
        <activity android:name=".thongke.ThongKeActivity" />
        <activity android:name=".thongke.TopDocGiaActivity"/>
        <activity android:name=".thongke.TopSachActivity"/>
        <activity android:name=".thongke.QuaHanActivity"/>
    </application>

</manifest>